* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    height: 550px;
    width: 960px;
}
.container-header {
    background-color: #212838;
}
.image-block {
    background-color: #283042;
    width: 240px;
    height: 550px;
    margin: -450px 1000px -100px 100px;
    overflow: hidden;
}
.image {
    width: 100%;
    margin: 120px 0px 0px 0px;
    overflow: hidden;
}
.name {
    font-size: 40px;
    color: white;
    display: inline-block;
    margin: 70px 100px 0px 415px;
}
.description {
    margin: -95px 0px 0px 415px;
    display: inline-block;
    color: white;
    font-size: 16px;
}
.discord {
    font-size: 21px;
    color: white;
    font-weight: bold;
    margin: 40px 0px 0px 415px;
}
.discordname {
    font-size: 17px;
    color: white;
    margin: 10px 0px 0px 415px;;
}
.phone {
    font-size: 21px;
    color: white;
    font-weight: bold;
    margin: -55px 0px 0px 690px;
}
.phone-number {
    font-size: 17px;
    color: white;
    margin: 10px 0px 0px 690px;
}